
body {
  font-family: "Roboto", sans-serif;	
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

.main-div {
  max-width: 500px;	
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.id-form {
  padding: 20px 0 10px;	
}

.pw-form {
  padding-bottom: 20px;	
}

.id-form input,
.pw-form input {
  height: 50px;	
  font-size: 18px;
  color: #F0F0F0;
}

.login-btn {
  padding-bottom: 10px;
}

.login-btn button{
  height: 65px;
  background: #FFBF00;
  border: 0;
  font-size: 18px;
  font-weight: bold;
}

.login-btn button:hover{
  background: #FFBF00;
}

.kakao img {
  width: 100%;	
}

.nav-link {
  color: black !important;
  font-weight: bold;
}

.signup-box h1 {
  font-size: 24px;
  color: #FFBF00;
  font-weight: bold;
  padding-bottom: 10px;
}

.auth button,
.smsCode button {
   background: #FFBF00;
   border: 0;
   font-weight: bold;
}

.auth button:hover,
.smsCode button:hover {
   background: #FFBF00;
   border: 0;
}

.pb-20 {
  padding-bottom: 20px;	
}

.signup-btn button {
  background: #7F7F7F;
  font-weight: bold;
  height: 50px;
}

.nav-link.active {
  font-size: 18px;
  font-weight: bold;
  color: #FFBF00 !important;	
}

#titles {
  width: 100%;
  height: 900px;	
}

.title-div {
  position: relative;
}

.title-1 {
  position: absolute;
}

.title-2 {
  position: absolute;
  top: 315px;
  left: 195px;
  width: 70%;
  height: 100px;
  background: #fff;
  border-radius: 10px;
}

.full-img {
  width: 100%;	
}

.nav-item {
  width: 200px;
}

.dates-1,
.dates-2 {
  border-right: 2px solid lightgray;
}

.dates-1 input,
.dates-2 input {
  border: 0;
}

.member-cnt {
  border-right: 2px solid lightgray;	
}

.form-select {
  border: 0 !important;
  width: 55px !important;	
}

.naming {
  border-right: 2px solid lightgray;	
}

.naming input {
  border: 0;	
}

.srch-img {
  width: 65%;
  height: 40px;	
}

.menu {
  font-size: 28px;
  font-weight: bold;
}

#room-1 .menu {
  padding-bottom: 10px;
}

#room-1 .menu i {
  color: #F5D63D;
}

#room-2 {
  padding: 50px 0px;
}

#room-2 .menu i {
  color: #e43c5c;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

#room-2 .testimonials-slider {
  overflow: hidden;
}

.testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 0 30px;
  margin: 10px 0;
  min-height: 250px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 10px;
}

.testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonial-item span {
  border-radius: 5px;
  background: red;
  padding: 5px 10px;
  color: #fff;
  font-weight: bold;	
}

.testimonial-item h3 {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  padding-top: 10px;
}

.testimonial-item i {
  color: #F5D63D;
}

.testimonial-item b {
  color: #fff;	
}

.testimonial-item h5 {
  color: #fff;
  font-weight: bold;
}

.div-s {
  padding-top: 100px;	
}

.div-m {
  text-align: right;
  padding-right: 24px;
}

.div-m h4 {
  color: #fff;
  font-size: 16px;
}

.member {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative;
  border-radius: 10px;
  height: 200px;
}

.member:before {
  content: "";
  background: rgba(56, 64, 70, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
}

.member h4 {
  color: #fff;
  font-weight: bold;
  width: 100%;
  position: absolute;
  top: 90px;
}

.member img {
  max-width: 100%;
  height: 250px;
}

.reset a {
  font-size: 18px;
  font-weight: 600;	
}
