<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>GOING</title>
	<meta content="" name="description">
	<meta content="" name="keywords">
	
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:300,400,500,700,900|Noto Sans Korean:300,400,500,700,900"
		rel="stylesheet">
		
 	<link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 	<link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
 	<link href="/assets/css/swiper-bundle.css" rel="stylesheet">
	
	<link href="/assets/css/style.css" rel="stylesheet">

</head>

<body>

	<main>
		<section id="titles">
			<div class="container">
				<div class="title-div">
					
					<div class="title-1">
						<img class="full-img" src="assets/images/travel.jpg">
					</div>
					
					<div class="title-2">
						<!-- Default Tabs -->
						<ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
							<li class="nav-item flex-fill" role="presentation">
								<button class="nav-link w-100 active" id="hotel-tab" data-bs-toggle="tab" data-bs-target="#hotel-justified"
									type="button" role="tab" aria-controls="hotel" aria-selected="true">호텔</button>
							</li>
							<li class="nav-item flex-fill" role="presentation">
								<button class="nav-link w-100" id="motel-tab" data-bs-toggle="tab" data-bs-target="#motel-justified"
									type="button" role="tab" aria-controls="motel" aria-selected="false">모텔</button>
							</li>
							<li class="nav-item flex-fill" role="presentation">
								<button class="nav-link w-100" id="pension-tab" data-bs-toggle="tab" data-bs-target="#pension-justified"
									type="button" role="tab" aria-controls="pension" aria-selected="false">펜션</button>
							</li>
							<li class="nav-item flex-fill" role="presentation">
								<button class="nav-link w-100" id="resort-tab" data-bs-toggle="tab" data-bs-target="#resort-justified"
									type="button" role="tab" aria-controls="resort" aria-selected="false">리조트</button>
							</li>
						</ul>
						<div class="tab-content pt-2" id="myTabjustifiedContent">
							<div class="tab-pane fade show active" id="hotel-justified" role="tabpanel" aria-labelledby="hotel-tab">
								<div class="row m-0">
									<div class="col-3 dates-1">
										<input type="date" class="form-control">
									</div>
									<div class="col-3 dates-2">
										<input type="date" class="form-control">
									</div>
									<div class="col-1 member-cnt">
										<select class="form-select">
											<option selected>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
										</select>
									</div>
									<div class="col-2 naming">
										<input type="text" class="form-control" placeholder="지역,숙소명">
									</div>
									<div class="col-3 text-center">
										<img class="srch-img" src="assets/images/srch_going.png">
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="motel-justified" role="tabpanel" aria-labelledby="motel-tab">
								<div class="row m-0">
									<div class="col-3 dates-1">
										<input type="date" class="form-control">
									</div>
									<div class="col-3 dates-2">
										<input type="date" class="form-control">
									</div>
									<div class="col-1 member-cnt">
										<select class="form-select">
											<option selected>1</option>
											<option>2</option>
										</select>
									</div>
									<div class="col-2 naming">
										<input type="text" class="form-control" placeholder="지역,숙소명">
									</div>
									<div class="col-3 text-center">
										<img class="srch-img" src="assets/images/srch_going.png">
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="pension-justified" role="tabpanel" aria-labelledby="pension-tab">
								<div class="row m-0">
									<div class="col-3 dates-1">
										<input type="date" class="form-control">
									</div>
									<div class="col-3 dates-2">
										<input type="date" class="form-control">
									</div>
									<div class="col-1 member-cnt">
										<select class="form-select">
											<option selected>1</option>
											<option>2</option>
										</select>
									</div>
									<div class="col-2 naming">
										<input type="text" class="form-control" placeholder="지역,숙소명">
									</div>
									<div class="col-3 text-center">
										<img class="srch-img" src="assets/images/srch_going.png">
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="resort-justified" role="tabpanel" aria-labelledby="resort-tab">
								<div class="row m-0">
									<div class="col-3 dates-1">
										<input type="date" class="form-control">
									</div>
									<div class="col-3 dates-2">
										<input type="date" class="form-control">
									</div>
									<div class="col-1 member-cnt">
										<select class="form-select">
											<option selected>1</option>
											<option>2</option>
										</select>
									</div>
									<div class="col-2 naming">
										<input type="text" class="form-control" placeholder="지역,숙소명">
									</div>
									<div class="col-3 text-center">
										<img class="srch-img" src="assets/images/srch_going.png">
									</div>
								</div>
							</div>
						</div><!-- End Default Tabs -->
					</div>
					
				</div>
			</div>

		</section>
		
		<section id="room-1">
			<div class="container">
				<div class="menu">
					<i class="bi bi-lightning"></i>
					<span>클릭해서 원하는 숙소를 찾아보세요!</span>
				</div>
				
				<div class="row">
				
					<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
						<div class="member" style="background: url(assets/images/hotel.jpg); background-size:cover;">
							<h4>호텔</h4>
						</div>
					</div>
				
					<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
						<div class="member" style="background: url(assets/images/motel.jpg); background-size:cover;">
							<img src="assets/images/bg_2.jpg" alt="">
							<h4>모텔</h4>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
						<div class="member" style="background: url(assets/images/pension.jpg); background-size:cover;">
							<img src="assets/images/bg_3.jpg" alt="">
							<h4>펜션</h4>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
						<div class="member" style="background: url(assets/images/resort.jpg); background-size:cover;">
							<img src="assets/images/bg_4.jpg" alt="">
							<h4>리조트</h4>
						</div>
					</div>
				</div>
				
			</div>
		</section>
		
		<section id="room-2">
			<div class="container">
			
				<div class="menu">
					<i class="bi bi-pin-angle-fill"></i>
					<span>최근 가장 많이 예약된 숙소예요!</span>
				</div>
				
				<div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
					<div class="swiper-wrapper">
				
						<div class="swiper-slide">
							<div class="testimonial-item" style="background:url(assets/images/hotel.jpg) top center no-repeat; background-size:cover;">
								<div class="div-s">
									<span>리조트</span>
									<h3>메이힐리조트</h3>
								</div>
								<div class="div-m">
									<h4>1박 기준</h4>
								</div>
								<div class="row m-0">
									<div class="col-8 p-0">
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star"></i>
										<i class="bi bi-star"></i>
										<b>(3)</b>
									</div>
									<div class="col-4">
										<h5>10,000원</h5>
									</div>
								</div>
							</div>
						</div><!-- End testimonial item -->
				
						<div class="swiper-slide">
							<div class="testimonial-item" style="background:url(assets/images/motel.jpg) top center no-repeat; background-size:cover;">
								<div class="div-s">
									<span>모텔</span>
									<h3>더포스트</h3>
								</div>
								<div class="div-m">
									<h4>1박 기준</h4>
								</div>
								<div class="row m-0">
									<div class="col-8 p-0">
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star"></i>
										<i class="bi bi-star"></i>
										<i class="bi bi-star"></i>
										<i class="bi bi-star"></i>
										<b>(1)</b>
									</div>
									<div class="col-4">
										<h5>10,000원</h5>
									</div>
								</div>
							</div>
						</div><!-- End testimonial item -->
				
						<div class="swiper-slide">
							<div class="testimonial-item" style="background:url(assets/images/pension.jpg) top center no-repeat; background-size:cover;">
								<div class="div-s">
									<span>모텔</span>
									<h3>대경</h3>
								</div>
								<div class="div-m">
									<h4>1박 기준</h4>
								</div>
								<div class="row m-0">
									<div class="col-8 p-0">
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star"></i>
										<b>(4)</b>
									</div>
									<div class="col-4">
										<h5>10,000원</h5>
									</div>
								</div>
							</div>
						</div><!-- End testimonial item -->
				
						<div class="swiper-slide">
							<div class="testimonial-item" style="background:url(assets/images/resort.jpg) top center no-repeat; background-size:cover;">
								<div class="div-s">
									<span>펜션</span>
									<h3>초록밤펜션</h3>
								</div>
								<div class="div-m">
									<h4>1박 기준</h4>
								</div>
								<div class="row m-0">
									<div class="col-8 p-0">
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star"></i>
										<i class="bi bi-star"></i>
										<i class="bi bi-star"></i>
										<b>(2)</b>
									</div>
									<div class="col-4">
										<h5>10,000원</h5>
									</div>
								</div>
							</div>
						</div><!-- End testimonial item -->
					
					</div>
				</div>
				
			</div>
		</section>
		
	</main><!-- End #main -->
	
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/echarts/echarts.min.js"></script>
	<script src="assets/js/swiper-bundle.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>