<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>GOING</title>
	<meta content="" name="description">
	<meta content="" name="keywords">
	
	<link href="https://fonts.googleapis.com/css?family=Black Han Sans:400" rel="stylesheet">
 	
 	<link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 	<link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
 	<link href="/assets/css/swiper-bundle.css" rel="stylesheet">
	
	<link href="/assets/css/style.css" rel="stylesheet">

</head>

<body>

	<main>
		<section id="titles">
			<div class="container">
				<div class="title-div">
					
					<div class="title-1">
						<img class="full-img" src="assets/images/travel.jpg">
					</div>
					
					<div class="title-2">
						<!-- Default Tabs -->
						<ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
							<li class="nav-item flex-fill" role="presentation">
								<button class="nav-link w-100 active" id="hotel-tab" data-bs-toggle="tab" data-bs-target="#hotel-justified"
									type="button" role="tab" aria-controls="hotel" aria-selected="true">호텔</button>
							</li>
							<li class="nav-item flex-fill" role="presentation">
								<button class="nav-link w-100" id="motel-tab" data-bs-toggle="tab" data-bs-target="#motel-justified"
									type="button" role="tab" aria-controls="motel" aria-selected="false">모텔</button>
							</li>
							<li class="nav-item flex-fill" role="presentation">
								<button class="nav-link w-100" id="pension-tab" data-bs-toggle="tab" data-bs-target="#pension-justified"
									type="button" role="tab" aria-controls="pension" aria-selected="false">펜션</button>
							</li>
							<li class="nav-item flex-fill" role="presentation">
								<button class="nav-link w-100" id="resort-tab" data-bs-toggle="tab" data-bs-target="#resort-justified"
									type="button" role="tab" aria-controls="resort" aria-selected="false">리조트</button>
							</li>
						</ul>
						<div class="tab-content pt-2" id="myTabjustifiedContent">
							<div class="tab-pane fade show active" id="hotel-justified" role="tabpanel" aria-labelledby="hotel-tab">
								<div class="row m-0">
									<div class="col-3 dates-1">
										<input type="date" class="form-control">
									</div>
									<div class="col-3 dates-2">
										<input type="date" class="form-control">
									</div>
									<div class="col-1 member-cnt">
										<select class="form-select">
											<option selected>1</option>
											<option>2</option>
										</select>
									</div>
									<div class="col-2 naming">
										<input type="text" class="form-control" placeholder="지역,숙소명">
									</div>
									<div class="col-3 text-center">
										<img class="srch-img" src="assets/images/srch_going.png">
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="motel-justified" role="tabpanel" aria-labelledby="motel-tab">
								<div class="row m-0">
									<div class="col-3 dates-1">
										<input type="date" class="form-control">
									</div>
									<div class="col-3 dates-2">
										<input type="date" class="form-control">
									</div>
									<div class="col-1 member-cnt">
										<select class="form-select">
											<option selected>1</option>
											<option>2</option>
										</select>
									</div>
									<div class="col-2 naming">
										<input type="text" class="form-control" placeholder="지역,숙소명">
									</div>
									<div class="col-3 text-center">
										<img class="srch-img" src="assets/images/srch_going.png">
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="pension-justified" role="tabpanel" aria-labelledby="pension-tab">
								<div class="row m-0">
									<div class="col-3 dates-1">
										<input type="date" class="form-control">
									</div>
									<div class="col-3 dates-2">
										<input type="date" class="form-control">
									</div>
									<div class="col-1 member-cnt">
										<select class="form-select">
											<option selected>1</option>
											<option>2</option>
										</select>
									</div>
									<div class="col-2 naming">
										<input type="text" class="form-control" placeholder="지역,숙소명">
									</div>
									<div class="col-3 text-center">
										<img class="srch-img" src="assets/images/srch_going.png">
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="resort-justified" role="tabpanel" aria-labelledby="resort-tab">
								<div class="row m-0">
									<div class="col-3 dates-1">
										<input type="date" class="form-control">
									</div>
									<div class="col-3 dates-2">
										<input type="date" class="form-control">
									</div>
									<div class="col-1 member-cnt">
										<select class="form-select">
											<option selected>1</option>
											<option>2</option>
										</select>
									</div>
									<div class="col-2 naming">
										<input type="text" class="form-control" placeholder="지역,숙소명">
									</div>
									<div class="col-3 text-center">
										<img class="srch-img" src="assets/images/srch_going.png">
									</div>
								</div>
							</div>
						</div><!-- End Default Tabs -->
					</div>
					
				</div>
			</div>

		</section>
		
		<section id="room-1">
			<div class="container">
				<div class="menu">
					<i class="bi bi-lightning"></i>
					<span>클릭해서 원하는 숙소를 찾아보세요!</span>
				</div>
				
				<div class="row f-img">
					<div class="col-3 f-img1">
						<div>
							<span>호텔</span>
						</div>
					</div>
					<div class="col-3 f-img2">
						<div>
							<span>모텔</span>
						</div>
					</div>
					<div class="col-3 f-img3">
						<div>
							<span>펜션</span>
						</div>
					</div>
					<div class="col-3 f-img4">
						<div>
							<span>리조트</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section id="room-2">
			<div class="container">
				<div class="menu">
					<i class="bi bi-pin-angle-fill"></i>
					<span>최근 가장 많이 예약된 숙소예요!</span>
				</div>
				
				<div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
					<div class="swiper-wrapper">
				
						<div class="swiper-slide">
							<div class="testimonial-item">
								<img src="assets/images/bg_1.jpg" class="testimonial-img" alt="">
								<h3>Saul Goodman</h3>
								<h4>Ceo &amp; Founder</h4>
							</div>
						</div><!-- End testimonial item -->
				
						<div class="swiper-slide">
							<div class="testimonial-item">
								<img src="assets/images/bg_2.jpg" class="testimonial-img" alt="">
								<h3>Sara Wilsson</h3>
								<h4>Designer</h4>
							</div>
						</div><!-- End testimonial item -->
				
						<div class="swiper-slide">
							<div class="testimonial-item">
								<img src="assets/images/bg_3.jpg" class="testimonial-img" alt="">
								<h3>Jena Karlis</h3>
								<h4>Store Owner</h4>
							</div>
						</div><!-- End testimonial item -->
				
						<div class="swiper-slide">
							<div class="testimonial-item">
								<img src="assets/images/bg_4.jpg" class="testimonial-img" alt="">
								<h3>Matt Brandon</h3>
								<h4>Freelancer</h4>
							</div>
						</div><!-- End testimonial item -->
				
						<div class="swiper-slide">
							<div class="testimonial-item">
								<img src="assets/images/going.jpg" class="testimonial-img" alt="">
								<h3>John Larson</h3>
								<h4>Entrepreneur</h4>
							</div>
						</div><!-- End testimonial item -->
					</div>
				</div>
				
			</div>
		</section>
		
	</main><!-- End #main -->
	
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/echarts/echarts.min.js"></script>
	<script src="assets/js/swiper-bundle.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>